body {
    font-family: sans-serif;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 180%;
}

h4 {
    font-size: 160%;
}

h5 {
    font-size: 140%;
}

h6 {
    font-size: 120%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

textarea {
    width: 100%;
}

.comment {
    background-color: #FDFEBF;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
